.overlay,
.drawer {
  transform: translateZ(0);
}
.overlay-enter {
  opacity: 0;
}
.overlay-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}
.overlay-exit {
  opacity: 1;
}
.overlay-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}
.drawer-enter {
  transform: translateY(100%);
}
.drawer-enter-active {
  transition: transform 250ms;
  transform: translateY(0);
}
.drawer-exit {
  transform: translateY(0);
}
.drawer-exit-active {
  transform: translateY(100%);
  transition: transform 250ms;
}
